ServerRoot "/etc/httpd"

Listen {{ http_port }}

Include conf.modules.d/*.conf

User apache
Group apache

ServerAdmin wheel@{{ domain }}

ServerName {{ domain }}:{{ http_port }}

SetEnv APP_ENV staging

<Directory />
AllowOverride none
Require all denied
</Directory>

DocumentRoot "/var/www/{{ domain }}/htdocs"

<Directory "/var/www/{{ domain }}">
AllowOverride None
# Allow open access:
Require all granted
</Directory>

# Further relax access to the default document root:
<Directory "/var/www/{{ domain }}/htdocs">
Options -Indexes +FollowSymLinks
AllowOverride All
Require all granted
</Directory>

<IfModule dir_module>
  DirectoryIndex index.html
</IfModule>

<Files ".ht*">
Require all denied
</Files>

ErrorLog "|/usr/sbin/rotatelogs /var/log/httpd/{{ domain }}/error_log.%Y%m%d 86400"

LogLevel warn

<IfModule log_config_module>
  LogFormat "%{X-Forwarded-For}i %h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
  LogFormat "%h %l %u %t \"%r\" %>s %b" common

  <IfModule logio_module>
    # You need to enable mod_logio.c to use %I and %O
    LogFormat "%{X-Forwarded-For}i %h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" %I %O" combinedio
  </IfModule>

  CustomLog "|/usr/sbin/rotatelogs /var/log/httpd/{{ domain }}/access_log.%Y%m%d 86400" combined
</IfModule>

#<IfModule alias_module>
  #    ScriptAlias /cgi-bin/ "/var/www/cgi-bin/"
  #</IfModule>
#
#<Directory "/var/www/cgi-bin">
#    AllowOverride None
#    Options None
#    Require all granted
#</Directory>

<IfModule mime_module>
  TypesConfig /etc/mime.types

  AddType application/x-compress .Z
  AddType application/x-gzip .gz .tgz

  #   AddType text/html .shtml
  #   AddOutputFilter INCLUDES .shtml
</IfModule>

AddDefaultCharset UTF-8

MIMEMagicFile conf/magic

EnableSendfile on

IncludeOptional conf.d/*.conf

